* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131413;
    color: white;
}

.logo img {
    width: 150px;
    height: auto;
}

.title {
    margin-bottom: 30px;
}

.btn-trock {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-trock:hover {
    background-color: #333333;
}

.btn-trock:focus {
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.instagram-link {
    text-decoration: none;
    color: #ff8a00;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.instagram-link i {
    font-size: 1.5rem;
}

.instagram-link:hover {
    color: #f89625;
    transform: scale(1.1);
}

.agenda-table th,
.agenda-table td {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
}

.agenda-table td:hover {
    background-color: #f0f8ff;
}

.hora {
    background-color: #f8f9fa;
    font-weight: 600;
    cursor: default;
}

.logo img {
    cursor: pointer;
}

.agenda-table {
    width: 100%;
    table-layout: fixed;
}

.agenda-table td {
    word-wrap: break-word;
    white-space: normal;
}

@media (max-width: 576px) {

    .agenda-table th,
    .agenda-table td {
        font-size: 0.60rem;
        padding: 4px;
    }

    .hora {
        font-size: 0.60rem;
        width: 55px;
    }
}